.animation {
  animation-name: fadein;
  animation-duration: 1s;
  width: 100%;
  height: 100%;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section1 {
  text-align: center;
  align-items: center;
  margin-bottom: -20rem;
  height: 40rem;
  min-width: 100rem;
}
.erp {
  margin-top: 3rem;
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: -48rem;
  margin-bottom: 3rem;
}
.p {
  margin-left: -33.5rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 10%;
}
.p1 {
  margin-left: -38rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 10%;
}
.p2 {
  margin-left: -43.5rem;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 10%;
}
.erp_img {
  margin-left: 28rem;
  margin-top: -10rem;
}

.feature {
  text-align: center;
  align-items: center;
  padding: 1.2rem;
  position: relative;
  background-color: rgb(243, 244, 245);
  height: 40rem;
  min-width: 100rem;
}
.feature_erp {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: bold;
  margin-left: -45rem;
  margin-bottom: 5rem;
}
.feature_about {
  margin-top: 4rem;
  font-weight: bold;
  margin-left: -45rem;
  font-size: 1.8rem;
  line-height: 5%;
}
.feature_about2 {
  margin-top: 3rem;
  font-weight: bold;
  margin-left: -33rem;
  font-size: 1.8rem;
  line-height: 5%;
}
.feature_content {
  font-weight: bold;
  line-height: 20%;
  margin-left: 35rem;
  margin-top: -5rem;
}
.feature_content2 {
  font-weight: bold;
  line-height: 20%;
  margin-left: 38rem;
  margin-top: 1rem;
}
.feature_content3 {
  font-weight: bold;
  line-height: 20%;
  margin-left: 35rem;
  margin-top: 1rem;
}
.feature_content4 {
  font-weight: bold;
  line-height: 20%;
  margin-left: 34rem;
  margin-top: 1rem;
}
.click_img {
  margin-left: -19rem;
  margin-top: 2rem;
  /* z-index: 4; */
}
.click {
  font-size: 2rem;
  line-height: 10%;
  font-weight: bold;
  margin-left: -8rem;
  margin-top: -5.5rem;
  z-index: 5;
  color: white;
}

.section2 {
  position: relative;
  height: 36rem;
  text-align: center;
  min-width: 100rem;
}
.section2_img {
  margin-left: -60rem;
}
.section2_name {
  margin-left: 59rem;
  font-size: 2rem;
  line-height: 20%;
  font-weight: bold;
  margin-top: -25rem;
}
.section2_contents {
  line-height: 10%;
  margin-left: 62rem;
  margin-top: 5rem;
  font-size: 0.8rem;
}
.section2_contents2 {
  line-height: 10%;
  margin-left: 66.5rem;
  font-size: 0.8rem;
}
.section2_contents3 {
  line-height: 15%;
  margin-left: 57.5rem;
  font-size: 0.8rem;
}

.section3 {
  position: relative;
  height: 39rem;
  text-align: center;
  min-width: 100rem;
}
.section3_img {
  margin-left: 59rem;
}
.section3_name {
  margin-top: -25rem;
  margin-right: 58rem;
  font-size: 2rem;
  line-height: 20%;
  font-weight: bold;
}
.section3_name2 {
  margin-right: 62rem;
  font-size: 2rem;
  line-height: 20%;
  font-weight: bold;
}
.section3_contents {
  margin-right: 56rem;
  margin-top: 4rem;
  line-height: 20%;
  font-size: 0.8rem;
}
.section3_contents2 {
  margin-right: 51.7rem;
  line-height: 20%;
  font-size: 0.8rem;
}
